@import "./base/base.css";

body {
  overflow: hidden;
}

@keyframes colorChange {
  0% {
    background-color: #330000cc;
  }
  30% {
    background-color: #003300cc;
  }
  60% {
    background-color: #000033cc;
  }
  100% {
    background-color: #330000cc;
  }
}
#canvas {
  animation: colorChange 2s infinite;
  animation-play-state: running;
}

.flex-col {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
