@import "../base/base.css";

:root {
    --board-width  : 520px;
    --board-height : var(--board-width);
    --board-xSquare: 8;
    --board-ySquare: var(--board-xSquare);
    --square-width : calc(var(--board-width) / var(--board-xSquare));
    
    background-color: rgba(0, 0, 0, 0.2);
}

#board {
    margin-top   : 12vh;
    width        : var(--board-width);
    height       : var(--board-height);
    border       : 10px solid brown;
    border-radius: 10px 0 0 0;
    
    anchor-name: --board;
}

#menu {
    position    : absolute;
    top         : anchor(--board bottom);
    left        : anchor(--board left);
    width       : calc(var(--board-width) + 20px);
    margin-top  : 2em;
}

#pieces {
    position : absolute;
    top      : anchor(--board top );
    right    : anchor(--board left);
    
    width          : auto;
    height         : calc(var(--board-height) + 30px + 1.15em);
    margin-right   : 1.5em;
    justify-content: start;
    
    background-color: white;
}

#board-mark-cols {
    position: absolute;
    top     : anchor(--board bottom);
    left    : anchor(--board left);
    width   : var(--board-width);
    padding : 0 10px 10px 10px;
    justify-content: space-around;
    
    background-color: brown;
    color: white;
    border-radius: 0 0 10px 10px;
}

#board-mark-rows {
    position: absolute;
    top     : anchor(--board top);
    left    : anchor(--board right);
    width   : 1.15em;
    height  : var(--board-height);
    padding : 10px 10px 10px 0;
    justify-content: space-around;
    
    background-color: brown;
    color           : white;
    border-radius: 0 10px 10px 0;
}

#board-size {
    font-size: 16pt;
}

#move-record {
    position       : absolute;
    top            : anchor(--board top);
    left           : anchor(--board right);
    height         : calc(var(--board-height) + 30px + 1.15em);
    width          : 12em;
    margin-left    : 3em;
    padding        : 0.5em;
    justify-content: start;
    overflow-y     : scroll;
    
    background-color: white;
}

#game-record {
    position      : absolute;
    bottom        : anchor(--board top);
    left          : anchor(--board left);
    width         : calc(var(--board-width) + 30px + 1.15em);
    margin-bottom : 10px;
    display       : flex;
    
    background-color: white;
}

#save-record {
    width: fit-content;
}

#game-input {
    font: 10.5pt monospace;
    flex-grow: 1;
    background-color: #0000;
    border: none;
}

.border {
    border         : 10px solid brown;
    border-radius  : 10px;
    box-sizing     : border-box;
}

.mark, .move, .piece {
    margin: 0;
}

.piece {
    font-size: 24pt;
    height: 1em;
}

.square {
    width : var(--square-width);
    height: var(--square-width);
    float          : left;
    display        : flex;
    align-items    : center;
    justify-content: center;
}
.black {
    background-color: #999;
}
.white {
    background-color: #ddd;
}

.figure {
    font-size: 48px;
    cursor: pointer;
}
