@import "../base/base.css";

:root {
    --board-xSquare: 8;
    --board-ySquare: var(--board-xSquare);

    --board-width  : 520px;
    --board-height : calc(var(--board-width) / var(--board-xSquare) * var(--board-ySquare)); /*var(--board-width);*/

    --square-width : calc(var(--board-width) / var(--board-xSquare));
    
    background-color: rgba(0, 0, 0, 0.2);
}

#board {
    margin-top   : 12vh;
    width        : var(--board-width);
    height       : var(--board-height);
    border       : 10px solid brown;
    border-radius: 10px 0 0 0;
    
    anchor-name: --board;
}

#menu {
    position: absolute;
    top     : anchor(--board top );
    right   : anchor(--board left);
    
    height      : calc(var(--board-height) + 30px + 1.15em);
    width       : 12em;
    margin-right: 1.5em;
}

#pieces {
    position: absolute;
    top     : anchor(--board bottom);
    left    : anchor(--board left);
    
    width     : calc(var(--board-width) + 20px);
    margin-top: 2em;
    
    justify-content: start;
    overflow       : auto;
    
    background-color: white;
}

#board-mark-x {
    position: absolute;
    top     : anchor(--board bottom);
    left    : anchor(--board left);
    width   : var(--board-width);
    padding : 0 10px 10px 10px;
    justify-content: space-around;
    
    background-color: brown;
    color           : white;
    border-radius   : 0 0 10px 10px;
}

#board-mark-y {
    position: absolute;
    top     : anchor(--board top);
    left    : anchor(--board right);
    width   : 1.15em;
    height  : var(--board-height);
    padding : 10px 10px 10px 0;
    justify-content: space-around;
    
    background-color: brown;
    color           : white;
    border-radius   : 0 10px 10px 0;
}

#board-size {
    font-size: 16pt;
}

#move-record {
    position       : absolute;
    top            : anchor(--board top);
    left           : anchor(--board right);
    height         : calc(var(--board-height) + 30px + 1.15em);
    width          : 12em;
    margin-left    : 3em;
    padding        : 0.5em;
    justify-content: start;
    overflow-y     : scroll;
    
    background-color: white;
}

#game-record {
    position      : absolute;
    bottom        : anchor(--board top);
    left          : anchor(--board left);
    width         : calc(var(--board-width) + 30px + 1.15em);
    margin-bottom : 10px;
    display       : flex;
    
    background-color: white;
}

#save-record {
    width: fit-content;
}

#game-input {
    font            : 10.5pt monospace;
    flex-grow       : 1;
    background-color: #0000;
    border          : none;
}

#board-size > p {
    padding-right: 0.65em;
}
#board-size > input {
    margin: 0 0.5em;
}

#mark-dir {
    height: 2.5em;
}

.border {
    border       : 10px solid brown;
    border-radius: 10px;
    box-sizing   : border-box;
}

.mark, .move, .piece {
    margin: 0;
}

.piece {
    font-size: 24pt;
}

.square {
    width : var(--square-width);
    height: var(--square-width);
    float          : left;
    display        : flex;
    align-items    : center;
    justify-content: center;
}
.black {
    background-color: #999;
}
.white {
    background-color: #ddd;
}

.figure {
    font-size: 48px;
    cursor   : pointer;
}
