html {
  font: 20pt monospace;
}

body {
  margin     : 0 auto;
  width      : fit-content;
  user-select: none;
}

div {
  /*scroll-behavior: smooth;*/
  scrollbar-width: thin;
}

input.in {
  width: 0;
}

p {
  margin: 0;
  display: block;
}
.in {
  display: inline-block;
}
.c {
  text-align: center;
}

.flex-row {
  display        : flex;
  flex-wrap      : wrap;
  gap            : 0.2em;
  flex-direction : row;
  align-items    : center;
}
.flex-col {
  display        : flex;
  flex-wrap      : wrap;
  gap            : 0.2em;
  flex-direction : column;
  align-items    : stretch;
}

.flex-11 {
  flex: 1 100% !important;
}
.flex-12 {
  flex: 1 49% !important;
}
.flex-13 {
  flex: 1 33% !important;
}
.flex-23 {
  flex: 1 66% !important;
}
.flex-size {
  flex: 1 var(--val) !important;
}

.btn {
  --box-shade : 20px;
  --text-shade: 10px;

  padding         : 0.2em;
  border-radius   : 5px;
  background-color: #000a;
  box-shadow      : 0 0 var(--box-shade) 5px #000a;
  font            : inherit;
  color           : #fffa;
  text-shadow     : 0 0 var(--text-shade) #fffa;
  font-weight     : bold;
  user-select     : none;
}
.btn:hover {
  background-color: #000c;
  --box-shade     : 10px;
  --text-shade    : 5px;
}
.btn:active {
  background-color: #000e;
  --box-shade     : 5px;
}

#overlay {
  position: fixed;
  display : none;
  z-index : 999;

  top   : 0;
  left  : 0;
  width : 100%;
  height: 100%;
  
  background: #0008;
}
#popup {
  position: fixed;
  z-index : 1000;

  top          : 50%;
  left         : 50%;
  transform    : translate(-50%, -50%);
  width        : 80%;
  padding      : 5%;
  border-radius: 5pt;

  background: #a44;
  color     : white;
  text-align: center;
}
